*{
    font-family: Arial, Helvetica, sans-serif;
}
.fondo{
    background-image: url("imgg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.854);
    font-weight: 300;
    text-shadow: 2px 4px 2px rgba(125, 125, 125, 0.575);
}
h6{
    padding: 5px;
    color: rgba(31, 31, 31, 0.795);
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.112);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-align: center;
}
input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 10PX;
    background-color: rgba(6, 214, 58, 0);
}

fieldset{
    width: 20rem;
    height: 31rem;
    margin: auto;
    margin-top: 10rem;
    background-color: rgba(255, 255, 255, 0.865);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px -1px 17px 0px rgba(0, 0, 0, 0.75);
}
.box input{
    width: 300px;
    height: 20px;
    margin: 4px;
}
.box textarea{
    resize: none;
    width: 300px;
    margin: 4px;
}
.box button{
    margin-left: 3rem;
    background-color: #345cd4;
    border: 0px;
    padding: 10px 10px;
    color: white;
    font-size: 1rem;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    justify-content: center;
}
.whatsapp{
    width: 20px;
    margin-left: 10px;
}
.whatsapp:hover{
    width: 21px ;
}

.img-perfil{
    width: 100px;
    border-radius: 50px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.587);
    margin-top: -64px;
    margin-bottom: 20px;
   
}
.container-perfil{
    display: flex;
    justify-content: center;
}

.pnombre {
    background-color: rgba(241, 241, 241, 0);
    list-style: none;
    border: 1px solid black;
    
  }